<!-- <div id="social&#45;bar"> -->
<!-- 	<ul class="rrssb&#45;buttons clearfix"> -->
<!--       <li class="email"> -->
<!--           <a href="mailto:?subject={{encode title}}&#38;amp;body={{url absolute="true"}}"> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!--                       <path transform="scale(0.014,&#45;0.014) translate(0,&#45;1670)" d="M1792 826v&#45;794q0 &#45;66 &#45;47 &#45;113t&#45;113 &#45;47h&#45;1472q&#45;66 0 &#45;113 47t&#45;47 113v794q44 &#45;49 101 &#45;87q362 &#45;246 497 &#45;345q57 &#45;42 92.5 &#45;65.5t94.5 &#45;48t110 &#45;24.5h1h1q51 0 110 24.5t94.5 48t92.5 65.5q170 123 498 345q57 39 100 87zM1792 1120q0 &#45;79 &#45;49 &#45;151t&#45;122 &#45;123 q&#45;376 &#45;261 &#45;468 &#45;325q&#45;10 &#45;7 &#45;42.5 &#45;30.5t&#45;54 &#45;38t&#45;52 &#45;32.5t&#45;57.5 &#45;27t&#45;50 &#45;9h&#45;1h&#45;1q&#45;23 0 &#45;50 9t&#45;57.5 27t&#45;52 32.5t&#45;54 38t&#45;42.5 30.5q&#45;91 64 &#45;262 182.5t&#45;205 142.5q&#45;62 42 &#45;117 115.5t&#45;55 136.5q0 78 41.5 130t118.5 52h1472q65 0 112.5 &#45;47t47.5 &#45;113z"/> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Email</span> -->
<!--           </a> -->
<!--       </li> -->
<!--       <li class="facebook"> -->
<!--           <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="popup"> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!--                       <path d="M27.825,4.783c0&#45;2.427&#45;2.182&#45;4.608&#45;4.608&#45;4.608H4.783c&#45;2.422,0&#45;4.608,2.182&#45;4.608,4.608v18.434 c0,2.427,2.181,4.608,4.608,4.608H14V17.379h&#45;3.379v&#45;4.608H14v&#45;1.795c0&#45;3.089,2.335&#45;5.885,5.192&#45;5.885h3.718v4.608h&#45;3.726 c&#45;0.408,0&#45;0.884,0.492&#45;0.884,1.236v1.836h4.609v4.608h&#45;4.609v10.446h4.916c2.422,0,4.608&#45;2.188,4.608&#45;4.608V4.783z"/> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Facebook</span> -->
<!--           </a> -->
<!--       </li> -->
<!-- 			<li class="twitter"> -->
<!--           <a href="http://twitter.com/home?status={{encode title}}%20{{url absolute="true"}}" class="popup"> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!-- 		                  <path d="M24.253,8.756C24.689,17.08,18.297,24.182,9.97,24.62c&#45;3.122,0.162&#45;6.219&#45;0.646&#45;8.861&#45;2.32 c2.703,0.179,5.376&#45;0.648,7.508&#45;2.321c&#45;2.072&#45;0.247&#45;3.818&#45;1.661&#45;4.489&#45;3.638c0.801,0.128,1.62,0.076,2.399&#45;0.155 C4.045,15.72,2.215,13.6,2.115,11.077c0.688,0.275,1.426,0.407,2.168,0.386c&#45;2.135&#45;1.65&#45;2.729&#45;4.621&#45;1.394&#45;6.965 C5.575,7.816,9.54,9.84,13.803,10.071c&#45;0.842&#45;2.739,0.694&#45;5.64,3.434&#45;6.482c2.018&#45;0.623,4.212,0.044,5.546,1.683 c1.186&#45;0.213,2.318&#45;0.662,3.329&#45;1.317c&#45;0.385,1.256&#45;1.247,2.312&#45;2.399,2.942c1.048&#45;0.106,2.069&#45;0.394,3.019&#45;0.851 C26.275,7.229,25.39,8.196,24.253,8.756z"/> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Twitter</span> -->
<!--           </a> -->
<!--       </li> -->
<!-- 			<li class="linkedin"> -->
<!--           <a href="http://www.linkedin.com/shareArticle?mini=true&#38;amp;url={{url absolute="true"}}&#38;amp;title={{encode title}}&#38;amp;summary={{excerpt}}..." class="popup"> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!--                       <path d="M25.424,15.887v8.447h&#45;4.896v&#45;7.882c0&#45;1.979&#45;0.709&#45;3.331&#45;2.48&#45;3.331c&#45;1.354,0&#45;2.158,0.911&#45;2.514,1.803 c&#45;0.129,0.315&#45;0.162,0.753&#45;0.162,1.194v8.216h&#45;4.899c0,0,0.066&#45;13.349,0&#45;14.731h4.899v2.088c&#45;0.01,0.016&#45;0.023,0.032&#45;0.033,0.048 h0.033V11.69c0.65&#45;1.002,1.812&#45;2.435,4.414&#45;2.435C23.008,9.254,25.424,11.361,25.424,15.887z M5.348,2.501 c&#45;1.676,0&#45;2.772,1.092&#45;2.772,2.539c0,1.421,1.066,2.538,2.717,2.546h0.032c1.709,0,2.771&#45;1.132,2.771&#45;2.546 C8.054,3.593,7.019,2.501,5.343,2.501H5.348z M2.867,24.334h4.897V9.603H2.867V24.334z"/> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">LinkedIn</span> -->
<!--           </a> -->
<!--       </li> -->
<!--       <li class="tumblr"> -->
<!-- 					<script> -->
<!-- 						document.write('<a href="http://www.tumblr.com/share?v=3&#38;amp;u=' + encodeURIComponent('{{url absolute="true"}}') + '&#38;amp;t={{encode title}}" class="popup">'); -->
<!-- 					</script> -->
<!--               <span class="icon"> -->
<!--                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!-- 											<path d="M18.02 21.842c&#45;2.029 0.052&#45;2.422&#45;1.396&#45;2.439&#45;2.446v&#45;7.294h4.729V7.874h&#45;4.71V1.592c0 0&#45;3.653 0&#45;3.714 0 s&#45;0.167 0.053&#45;0.182 0.186c&#45;0.218 1.935&#45;1.144 5.33&#45;4.988 6.688v3.637h2.927v7.677c0 2.8 1.7 6.7 7.3 6.6 c1.863&#45;0.03 3.934&#45;0.795 4.392&#45;1.453l&#45;1.22&#45;3.539C19.595 21.6 18.7 21.8 18 21.842z"/> -->
<!-- 									</svg> -->
<!--               </span> -->
<!--               <span class="text">Tumblr</span> -->
<!--           <script>document.write('</a>');</script> -->
<!--       </li> -->
<!--       <li class="reddit"> -->
<!--           <a href="http://www.reddit.com/submit?url={{url absolute="true"}}"> -->
<!--               <span class="icon"> -->
<!--                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!-- 											<g> -->
<!-- 													<path d="M11.794 15.316c0&#45;1.029&#45;0.835&#45;1.895&#45;1.866&#45;1.895c&#45;1.03 0&#45;1.893 0.865&#45;1.893 1.895s0.863 1.9 1.9 1.9 C10.958 17.2 11.8 16.3 11.8 15.316z"/> -->
<!-- 													<path d="M18.1 13.422c&#45;1.029 0&#45;1.895 0.864&#45;1.895 1.895c0 1 0.9 1.9 1.9 1.865c1.031 0 1.869&#45;0.836 1.869&#45;1.865 C19.969 14.3 19.1 13.4 18.1 13.422z"/> -->
<!-- 													<path d="M17.527 19.791c&#45;0.678 0.678&#45;1.826 1.006&#45;3.514 1.006c&#45;0.004 0&#45;0.009 0&#45;0.014 0c&#45;0.004 0&#45;0.01 0&#45;0.015 0 c&#45;1.686 0&#45;2.834&#45;0.328&#45;3.51&#45;1.005c&#45;0.264&#45;0.265&#45;0.693&#45;0.265&#45;0.958 0c&#45;0.264 0.265&#45;0.264 0.7 0 1 c0.943 0.9 2.4 1.4 4.5 1.402c0.005 0 0 0 0 0c0.005 0 0 0 0 0c2.066 0 3.527&#45;0.459 4.47&#45;1.402 c0.265&#45;0.264 0.265&#45;0.693 0.002&#45;0.958C18.221 19.5 17.8 19.5 17.5 19.791z"/> -->
<!-- 													<path d="M27.707 13.267c0&#45;1.785&#45;1.453&#45;3.237&#45;3.236&#45;3.237c&#45;0.793 0&#45;1.518 0.287&#45;2.082 0.761c&#45;2.039&#45;1.295&#45;4.646&#45;2.069&#45;7.438&#45;2.219 l1.483&#45;4.691l4.062 0.956c0.071 1.4 1.3 2.6 2.7 2.555c1.488 0 2.695&#45;1.208 2.695&#45;2.695C25.881 3.2 24.7 2 23.2 2 c&#45;1.059 0&#45;1.979 0.616&#45;2.42 1.508l&#45;4.633&#45;1.091c&#45;0.344&#45;0.081&#45;0.693 0.118&#45;0.803 0.455l&#45;1.793 5.7 C10.548 8.6 7.7 9.4 5.6 10.75C5.006 10.3 4.3 10 3.5 10.029c&#45;1.785 0&#45;3.237 1.452&#45;3.237 3.2 c0 1.1 0.6 2.1 1.4 2.69c&#45;0.04 0.272&#45;0.061 0.551&#45;0.061 0.831c0 2.3 1.3 4.4 3.7 5.9 c2.299 1.5 5.3 2.3 8.6 2.325c3.228 0 6.271&#45;0.825 8.571&#45;2.325c2.387&#45;1.56 3.7&#45;3.66 3.7&#45;5.917 c0&#45;0.26&#45;0.016&#45;0.514&#45;0.051&#45;0.768C27.088 15.5 27.7 14.4 27.7 13.267z M23.186 3.355c0.74 0 1.3 0.6 1.3 1.3 c0 0.738&#45;0.6 1.34&#45;1.34 1.34s&#45;1.342&#45;0.602&#45;1.342&#45;1.34C21.844 4 22.4 3.4 23.2 3.355z M1.648 13.3 c0&#45;1.038 0.844&#45;1.882 1.882&#45;1.882c0.31 0 0.6 0.1 0.9 0.209c&#45;1.049 0.868&#45;1.813 1.861&#45;2.26 2.9 C1.832 14.2 1.6 13.8 1.6 13.267z M21.773 21.57c&#45;2.082 1.357&#45;4.863 2.105&#45;7.831 2.105c&#45;2.967 0&#45;5.747&#45;0.748&#45;7.828&#45;2.105 c&#45;1.991&#45;1.301&#45;3.088&#45;3&#45;3.088&#45;4.782c0&#45;1.784 1.097&#45;3.484 3.088&#45;4.784c2.081&#45;1.358 4.861&#45;2.106 7.828&#45;2.106 c2.967 0 5.7 0.7 7.8 2.106c1.99 1.3 3.1 3 3.1 4.784C24.859 18.6 23.8 20.3 21.8 21.57z M25.787 14.6 c&#45;0.432&#45;1.084&#45;1.191&#45;2.095&#45;2.244&#45;2.977c0.273&#45;0.156 0.59&#45;0.245 0.928&#45;0.245c1.035 0 1.9 0.8 1.9 1.9 C26.354 13.8 26.1 14.3 25.8 14.605z"/> -->
<!-- 											</g>  -->
<!-- 									</svg>     -->
<!--               </span> -->
<!--               <span class="text">Reddit</span> -->
<!--           </a> -->
<!--       </li> -->
<!--       <li class="googleplus"> -->
<!--           <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="popup"> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!--                       <g> -->
<!--                           <path d="M14.703,15.854l&#45;1.219&#45;0.948c&#45;0.372&#45;0.308&#45;0.88&#45;0.715&#45;0.88&#45;1.459c0&#45;0.748,0.508&#45;1.223,0.95&#45;1.663 c1.42&#45;1.119,2.839&#45;2.309,2.839&#45;4.817c0&#45;2.58&#45;1.621&#45;3.937&#45;2.399&#45;4.581h2.097l2.202&#45;1.383h&#45;6.67c&#45;1.83,0&#45;4.467,0.433&#45;6.398,2.027 C3.768,4.287,3.059,6.018,3.059,7.576c0,2.634,2.022,5.328,5.604,5.328c0.339,0,0.71&#45;0.033,1.083&#45;0.068 c&#45;0.167,0.408&#45;0.336,0.748&#45;0.336,1.324c0,1.04,0.551,1.685,1.011,2.297c&#45;1.524,0.104&#45;4.37,0.273&#45;6.467,1.562 c&#45;1.998,1.188&#45;2.605,2.916&#45;2.605,4.137c0,2.512,2.358,4.84,7.289,4.84c5.822,0,8.904&#45;3.223,8.904&#45;6.41 c0.008&#45;2.327&#45;1.359&#45;3.489&#45;2.829&#45;4.731H14.703z M10.269,11.951c&#45;2.912,0&#45;4.231&#45;3.765&#45;4.231&#45;6.037c0&#45;0.884,0.168&#45;1.797,0.744&#45;2.511 c0.543&#45;0.679,1.489&#45;1.12,2.372&#45;1.12c2.807,0,4.256,3.798,4.256,6.242c0,0.612&#45;0.067,1.694&#45;0.845,2.478 c&#45;0.537,0.55&#45;1.438,0.948&#45;2.295,0.951V11.951z M10.302,25.609c&#45;3.621,0&#45;5.957&#45;1.732&#45;5.957&#45;4.142c0&#45;2.408,2.165&#45;3.223,2.911&#45;3.492 c1.421&#45;0.479,3.25&#45;0.545,3.555&#45;0.545c0.338,0,0.52,0,0.766,0.034c2.574,1.838,3.706,2.757,3.706,4.479 c&#45;0.002,2.073&#45;1.736,3.665&#45;4.982,3.649L10.302,25.609z"/> -->
<!--                           <polygon points="23.254,11.89 23.254,8.521 21.569,8.521 21.569,11.89 18.202,11.89 18.202,13.604 21.569,13.604 21.569,17.004 23.254,17.004 23.254,13.604 26.653,13.604 26.653,11.89"/> -->
<!--                       </g>   -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Google+</span> -->
<!--           </a> -->
<!--       </li> -->
<!--       <li class="pinterest"> -->
<!--           <script> -->
<!-- 						var imgurl = "{{@blog.url}}{{@blog.logo}}"; -->
<!-- 						var firstimg = document.getElementsByClassName("{{post_class}}")[0].getElementsByTagName("img")[0]; -->
<!-- 						if (firstimg !== undefined) { -->
<!-- 							imgurl = firstimg.src; -->
<!-- 						}  -->
<!-- 						document.write('<a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&#38;amp;media=' + imgurl + '&#38;amp;description={{encode title}}" class="popup">'); -->
<!-- 					</script> -->
<!--               <span class="icon"> -->
<!--                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable&#45;background="new 0 0 28 28" xml:space="preserve"> -->
<!-- 		                  <path d="M14.021,1.57C6.96,1.57,1.236,7.293,1.236,14.355c0,7.062,5.724,12.785,12.785,12.785c7.061,0,12.785&#45;5.725,12.785&#45;12.785 C26.807,7.294,21.082,1.57,14.021,1.57z M15.261,18.655c&#45;1.161&#45;0.09&#45;1.649&#45;0.666&#45;2.559&#45;1.219c&#45;0.501,2.626&#45;1.113,5.145&#45;2.925,6.458 c&#45;0.559&#45;3.971,0.822&#45;6.951,1.462&#45;10.116c&#45;1.093&#45;1.84,0.132&#45;5.545,2.438&#45;4.632c2.837,1.123&#45;2.458,6.842,1.099,7.557 c3.711,0.744,5.227&#45;6.439,2.925&#45;8.775c&#45;3.325&#45;3.374&#45;9.678&#45;0.077&#45;8.897,4.754c0.19,1.178,1.408,1.538,0.489,3.168 C7.165,15.378,6.53,13.7,6.611,11.462c0.131&#45;3.662,3.291&#45;6.227,6.46&#45;6.582c4.007&#45;0.448,7.771,1.474,8.29,5.239 c0.579,4.255&#45;1.816,8.865&#45;6.102,8.533L15.261,18.655z"/> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Pinterest</span> -->
<!--           <script>document.write('</a>');</script> -->
<!--       </li> -->
<!--       <li class="pocket"> -->
<!--           <a href="https://getpocket.com/save?url={{url absolute="true"}}"  class="popup"> -->
<!--               <span class="icon"> -->
<!--                   <svg width="32px" height="28px" viewBox="0 0 32 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> -->
<!--                       <path d="M28.7817528,0.00172488695 C30.8117487,0.00431221738 31.9749312,1.12074529 31.9644402,3.10781507 C31.942147,6.67703739 32.1336065,10.2669583 31.8057648,13.8090137 C30.7147076,25.5813672 17.2181194,31.8996281 7.20714461,25.3808491 C2.71833574,22.4571656 0.196577202,18.3122624 0.0549495772,12.9357897 C&#45;0.0342233715,9.5774348 0.00642900214,6.21519891 0.0300336062,2.85555035 C0.0405245414,1.1129833 1.21157517,0.0146615391 3.01995012,0.00819321302 C7.34746087,&#45;0.00603710433 11.6775944,0.00431221738 16.0064164,0.00172488695 C20.2644248,0.00172488695 24.5237444,&#45;0.00215610869 28.7817528,0.00172488695 L28.7817528,0.00172488695 Z M8.64885184,7.85611511 C7.38773662,7.99113854 6.66148108,8.42606978 6.29310958,9.33228474 C5.90114134,10.2969233 6.17774769,11.1421181 6.89875951,11.8276216 C9.35282156,14.161969 11.8108164,16.4924215 14.2976518,18.7943114 C15.3844131,19.7966007 16.5354102,19.7836177 17.6116843,18.7813283 C20.0185529,16.5495467 22.4070683,14.2982907 24.7824746,12.0327533 C25.9845979,10.8850542 26.1012707,9.56468083 25.1469132,8.60653379 C24.1361858,7.59255976 22.8449191,7.6743528 21.5890476,8.85191291 C19.9936451,10.3488554 18.3680912,11.8172352 16.8395462,13.3777945 C16.1342655,14.093159 15.7200114,14.0048744 15.0566806,13.3440386 C13.4599671,11.7484252 11.8081945,10.2060421 10.1262706,8.70001155 C9.65564653,8.27936164 9.00411403,8.05345704 8.64885184,7.85611511 L8.64885184,7.85611511 L8.64885184,7.85611511 Z"></path> -->
<!--                   </svg> -->
<!--               </span> -->
<!--               <span class="text">Pocket</span> -->
<!--           </a> -->
<!--       </li>  -->
<!--   </ul>	 -->
<!-- </div> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset '/js/rrssb.min.js'}}"></script>
{{#contentFor "head"}}
	<link rel="stylesheet" type="text/css" href="{{asset '/styles/rrssb.css'}}">
	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{excerpt}}..."/>
{{/contentFor}}
